body {
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
  font-family: "Caladea", serif;
}

.ct {
  display: flex;
  justify-content: center;
}

.m-auto {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}
